<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title id="title">IT Sum Test</title>
</head>
<body>
{% csrf_token %}
<div id="react-app"></div>
<script src="/static/lib/js/main.bundle.js"></script>
</body>
</html>
